<mat-toolbar>
  <button mat-icon-button aria-label="Menu icon" (click)="sidenavOpened = !sidenavOpened">
    <mat-icon>menu</mat-icon>
  </button>
  <span>TinyURL</span>
  <span class="spacer"></span>
  <button mat-icon-button class="code-icon" aria-label="Redirect to repo button with code icon"
    matTooltip="Open repository" (click)="openRepo()">
    <mat-icon>code</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]="sidenavOpened">
    <mat-nav-list>
      <a mat-list-item [routerLink]="link.route" routerLinkActive="active" *ngFor="let link of links"> {{ link.name }}
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
