:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-toolbar {
  height: 64px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-sidenav-container {
  flex: 1 1 auto;

  .mat-sidenav {
    padding: 16px;
  }
  .mat-sidenav-content {
    padding: 24px;
  }
}

a.active {
  color: var(--primary);
}
