.link {
  color: var(--primary);
}
.error {
  color: var(--error);
}

.mat-card-content {
  margin: 0 16px;
  max-width: 100%;

  app-url-input {
    max-width: 50%;
  }
}

.mat-card-actions {
  padding: 16px !important;
}
