<mat-card>
  <mat-card-header>
    <mat-card-title>Shorter URL generator</mat-card-title>
    <mat-card-subtitle>Paste below the URL to convert</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-url-input (url)="urlForm = $event"></app-url-input>
    <div *ngIf="tinyUrl" class="link-container">
      <div>Shortened URL</div>
      <a target="_blank" class="link" [href]="tinyUrl">{{tinyUrl}}</a>
      <button mat-icon-button matTooltip="Copy URL" [cdkCopyToClipboard]="tinyUrl">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <div *ngIf="error" class="error"><span>{{error}}</span></div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button [disabled]="urlForm.invalid" *ngIf="showConvert" mat-flat-button color="primary"
      (click)="convertUrl()">Convert</button>
    <button *ngIf="showReset" mat-flat-button color="accent" (click)="reset()">Reset</button>
  </mat-card-actions>
</mat-card>
