<mat-form-field>
  <mat-label>Url to transform</mat-label>
  <input autocomplete="off" matInput placeholder="https://example.com" [formControl]="form">
  <mat-error *ngIf="form.touched && form.hasError('urlPattern')">The URL is not valid. Please, correct it.</mat-error>
</mat-form-field>
