<h3>Most Popular Domains in the past 24 hs</h3>

<mat-list>
  <mat-list-item *ngFor="let domain of domains$ | async; index as i">
    <div>{{i + 1}}. {{domain.name}}</div>
  </mat-list-item>
</mat-list>
