@use '~@angular/material' as mat;

@include mat.core();

$primary-color: mat.$cyan-palette;
$accent-color: mat.$amber-palette;
$app-primary: mat.define-palette($primary-color, 500, 300, 700);
$app-accent: mat.define-palette($accent-color, 500, 300, A700);
$app-warn: mat.define-palette(mat.$red-palette);

$app-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

$app-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

@media (prefers-color-scheme: light) {
  @include mat.all-component-themes($app-light-theme);
}

@media (prefers-color-scheme: dark) {
  // Avoid duplicated theming styles
  // See https://github.com/angular/components/blob/master/guides/duplicate-theming-styles.md
  @include mat.all-component-colors($app-dark-theme);
}

$primary: mat.get-color-from-palette($primary-color, 500);
$primary-lighter: mat.get-color-from-palette($primary-color, 300);
$primary-darker: mat.get-color-from-palette($primary-color, 700);
$accent: mat.get-color-from-palette($accent-color, 500);
$accent-lighter: mat.get-color-from-palette($accent-color, 300);
$accent-darker: mat.get-color-from-palette($accent-color, A700);

:root {
  --base-50: #eceff1;
  --base-100: #cfd8dc;
  --base-400: #78909c;
  --base-600: #546e7a;
  --base-800: #37474f;
  --base-900: #263238;
  --success: #4caf50;
  --success-light: #cdf2ce;
  --warn: #ff9800;
  --warn-light: #ffefc7;
  --error: #f44336;
  --error-light: #ffd6d3;
  --primary: #{$primary};
  --primary-lighter: #{$primary-lighter};
  --primary-darker: #{$primary-darker};
  --accent: #{$accent};
  --accent-lighter: #{$accent-lighter};
  --accent-darker: #{$accent-darker};
}
